@import "./mixins.scss";

.body {
  width: 100%;
}
.settings {
  text-align: left;
  padding-left: 2rem;
}
.wrapper {
  text-align: left;
  padding: 0 2rem;
}
.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.info {
  width: 300px;
  padding-bottom: 2rem;
}
.messageBoard {
  background: $btns-bg;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.card_wrapper {
  background: $btns-bg;
  color: $txt;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
}
.no_events {
  text-align: center;
}

.cards {
  background: $btns-bg;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 4px;
  padding: 1rem 2rem;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid rgb(224, 187, 94);
  }

  .bar {
    width: 100%;
    display: flex;
    border-radius: 4px;
  }
  .t {
    overflow: "hidden";
    text-overflow: "clip";
  }
}
.card {
  border-radius: 4px;
  background: $right-gradiant;
  padding: 0.5rem;
  width: 280px;
  height: 75px;
  display: flex;
}
.card_content {
  color: $txt;
  width: 100%;
  padding: 5px 10px;
  .gov_name {
    background: $title-bg;
    color: black;
    font-size: 15px;
    padding: 1px 4px;
    border-radius: 4px;
  }
}
