@import "./mixins.scss";

.a_wrapper {
  padding: 0 1rem;
  text-align: center;
  .empty {
    background: $card-bg;
    border-radius: 4px;
    padding: 1rem 0;
  }
  .applicant {
    display: flex;
    .img {
      width: 100%;
      display: flex;
      margin: auto;
      img {
        margin: 0 5px;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        border: 1px solid black;
      }
    }
  }
}

.body {
  width: 100%;
}
.m_wrapper {
  text-align: center;
  .m_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem 0;
    .card {
      display: flex;
      text-align: left;
      border-radius: 4px;
      background: #005e81;
      border: 1px solid black;
      padding: 0.5rem;
      width: 229px;
      box-shadow: -2px 5px #4f4e4e;
      @media #{$mobile} {
        width: auto;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      border: 2px solid rgb(224, 187, 94);
    }
  }
}
.settings {
  text-align: left;
  padding-left: 2rem;
}
.wrapper {
  text-align: left;
  padding: 0 2rem;
}
.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.info {
  width: 300px;
  padding-bottom: 2rem;
}
.messageBoard {
  background: $btns-bg;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.card_wrapper {
  color: $txt;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
}
.no_events {
  background: $btns-bg;
  text-align: center;
  border-radius: 4px;
  padding: 1rem 0;
  margin: 1rem;
}

.card_content {
  width: 100%;
  padding: 5px;
  .gov_name {
    background: #b4aea7;
    color: #3f3b35;
    font-weight: 600;
    padding: 1px 4px;
    border-radius: 4px;
  }
  @media #{$mobile} {
    width: auto;
  }
}
.eventCards {
  border: 1px solid black;
  margin: 1.5rem 1rem;
  border-radius: 4px;
  background: $btns-bg;
  padding: 1rem;
  text-align: left;
  .row {
    display: flex;
    justify-content: space-between;
    color: $txt;
  }
}

.delete_btn {
  text-align: right;
}
.switch {
  text-align: center;
}
.event_header {
  display: flex;
  flex-direction: row;
  .title {
    color: $txt;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
