@import "./mixins.scss";
.App {
  background: white;
  max-width: 1000px;
  margin: auto;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper {
  text-align: center;
  width: 100%;
  margin: auto;
}
.validate {
  color: red;
}
.form {
  @include flex(center, column);
  text-align: left;
  margin: auto;
  width: 450px;
  .password {
    @include flex(center, row);
    border: 2px solid black;
    border-radius: 4px;
    padding: 0 5px 0 0;
    margin: 0.5rem 0;
    .icon {
      margin: auto 0 auto 5px;
    }
    input {
      margin: 0;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  input {
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 4px;
  }
  button {
    background-color: brown;
    color: whitesmoke;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    width: fit-content;
    margin: 1rem auto;
    box-shadow: 0 5px #666;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $btn-active;
    }
    &:active {
      background-color: $btn-active;
      transform: translateY(4px);
    }
  }
}
