@import "./mixins.scss";
.App {
	background: white;
	max-width: 1000px;
	margin: auto;
	position: relative;
	min-height: 100vh;
	padding-bottom: 3rem;
}
.wrapper {
	text-align: center;
	width: 100%;
	margin: auto;
}
.validate {
	color: red;
}
.form {
	@include flex(center, column);
	text-align: left;
	margin: auto;
	width: 450px;
	.password {
		@include flex(center, row);
		.icon {
			margin: auto 0 auto 5px;
		}
		input {
			width: 100%;
		}
	}
	input {
		padding: 10px 20px;
		margin: 8px 0;
	}
	button {
		background-color: #313131;
		color: whitesmoke;
		padding: 1rem;
		border: none;
		border-radius: 4px;
		width: fit-content;
		margin: 0px auto;
		box-shadow: 0 5px #666;
	}
	button:hover {
		background-color: black;
	}
	button:active {
		background-color: black;
		transform: translateY(4px);
	}
}
