@import "./mixins.scss";

.wrapper {
	@include flex(space-around, column);
}

.center {
	@include flex(space-around, row);
}

.sets {
	@include flex(space-around, row);
	margin: auto;
	width: 100%;
	.set {
		margin: 0 5px;
	}
}
.btn {
	@include btn();
	margin: 2rem auto;
	width: 100px;
	background: $left-gradiant;
	color: $btns-bg;
	padding: 10% 0;
	font-weight: 900;
}

.red_btn {
	@include btn();
	width: 35px;
	background: rgb(255, 0, 0);
	&:hover {
		background: rgb(185, 2, 2);
	}
}

.green_btn {
	@include btn();
	width: 35px;
	background: rgb(4, 185, 4);
	&:hover {
		background: rgb(4, 153, 4);
	}
}

.save_btn {
	@include btn();
	background: $btns-bg;
	color: $txt;
	&:hover {
		background: $card-bg;
	}
}
.input {
	background: $card-bg;
	color: $txt;
	box-sizing: border-box;
	text-align: center;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 4px;
	&:focus {
		outline: none;
	}
}

.box {
	width: 45px;
}
