@import "./mixins.scss";

.main {
  display: flex;
  flex-direction: column;
  .header {
    text-align: center;
    margin: 3rem 0;
    @media #{$mobile} {
      img {
        width: 100%;
      }
    }
  }
  .content {
    @include flex(space-around, row);
    @media #{$mobile} {
      @include flex(space-around, column);
      gap: 2rem;
      .card {
        width: 100%;
        a {
          width: 50%;
        }
      }
    }
  }
}
.wrapper {
  @include flex(space-around, column);
  background: $title-bg;
  border-radius: 10px;
  padding-bottom: 1rem;
  text-align: center;
  color: $txt;
  .header {
    color: $title-txt;
  }
  .body {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    background: $card-bg;
    .content {
      @include flex(space-around, row);
      background: $right-gradiant;
      min-height: 400px;
      width: 100%;
      padding: 1rem 0;
      border-radius: 4px;
      .menu {
        padding: 0 10px;
      }
      @media #{$mobile} {
        @include flex(space-around, column);
        text-align: left;
      }
    }
  }
}

.sets {
  @include flex(space-around, row);
  margin: auto;
  width: 100%;
  .set {
    margin: 0 5px;
  }
}
.btn {
  @include btn();
  width: 100px;
  background: $lightest-blue;
  color: $btns-bg;
  padding: 10px 0;
  margin: 1rem auto;
  font-weight: 900;
  &:hover {
    color: $txt;
    background: $card-bg;
  }
}

.red_btn {
  @include btn();
  width: 35px;
  background: rgb(255, 0, 0);
  &:hover {
    background: rgb(185, 2, 2);
  }
}

.green_btn {
  @include btn();
  width: 35px;
  background: rgb(4, 185, 4);
  border: none;
  &:hover {
    background: rgb(4, 153, 4);
  }
}

.blue_btn {
  @include btn();
  background: $lightest-blue;
  color: $txt;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  &:hover {
    background: $right-gradiant;
  }
}

.save_btn {
  @include btn();
  background: $card-bg;
  color: $txt;
  border: none;
  &:hover {
    background: $lightest-blue;
  }
}
.cancel_btn {
  @include btn();
  background: red;
  color: $txt;
  border: none;
  &:hover {
    background: darkred;
  }
}
.apply_btn {
  @include btn();
}
.input {
  @include input();
  @media #{$mobile} {
    width: 100px;
  }
}
.inputSave {
  @include input();
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.box {
  width: 45px;
  @media #{$mobile} {
    width: 5px;
  }
}

.row {
  @include flex(space-around, row);
  align-items: center;
  text-align: left;
  padding: 0 3rem;
  border-radius: 4px;
  background: $lightest-blue;
  margin: 3px 2rem;
  p {
    margin: auto;
    padding: 8px 0;
    width: 100%;
  }
  &:hover {
    background: $lightest-blue-hover;
  }
}
.scrollable {
  height: 450px;
  overflow-y: scroll;
}

.errorWrapper {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  padding: 15px;
  margin: 2rem;
  border-radius: 4px;
}
.global_error {
  position: absolute;
  top: 50%;
  width: 100%;
  border-radius: 4px;
  background-color: #ff7272;
  color: white;
  padding: 1rem;
  text-align: center;
}
.message {
  animation: fade ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.card {
  width: 450px;
}
.marketing {
  text-align: center;
  margin: 0 6rem;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
