@import "./mixins.scss";

.header {
  @include flex(space-between, row);
  align-items: baseline;
  background-color: brown;
  padding: 1rem;
  color: white;
  overflow: hidden;
  cursor: pointer;
  a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
  }
  .nav {
    display: flex;
    align-items: baseline;
    .content {
      &:hover {
        border-radius: 4px;
        background: $btn-active;
        padding: 7px;
      }
    }
    a {
      border-radius: 4px;
      &:hover {
        background: $btn-active;
      }
    }
  }
}
.wrapper {
  background-color: brown;
  color: $txt;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
