@mixin flex($content, $direction) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
}

@mixin btn() {
  text-align: center;
  border-radius: 4px;
  margin: auto;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
@mixin input() {
  background: $card-bg;
  color: $txt;
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

$btn-color: brown;
$btn-active: rgb(102, 6, 6);
$btn-hover: rgb(77, 6, 6);

// colors for title
$title-bg: #c6c4b7;
$title-txt: #878379;

// hover-gradiant
// content
$card-bg: #005e81;
$lightest-blue-hover: #7bb1c7;
$lightest-blue: #3aa4cd;
$right-gradiant: #117fb6;
$txt: #ebf8fb;

// banner gradient
$banner-outer: #69380f;
$banner-mid: #e3963e;
$banner-inner: #ffe462;
// buttons
$btns-bg: #00496b;

// colors
$epic: #8615ad;
