@import "./mixins.scss";

.buttons {
  background: $card-bg;
  padding: 0 2rem 1rem 2rem;
  .btns {
    @include flex(space-around, row);
    background: $btns-bg;
    border-radius: 4px;
    padding: 1rem;
    a {
      text-decoration: none;
      color: $txt;
    }
  }
}

.t_wrapper {
  width: 100%;
  .t_troops {
    padding: 0.51rem 1.2rem 0 0;
    width: 100%;
    @include flex(space-between, row);
    .t_content {
      width: 100%;
      padding-right: 2rem;
      @include flex(space-between, row);
      .count {
        display: flex;
        justify-content: space-evenly;
        .positive {
          text-align: center;
          color: #186018;
          font-weight: bolder;
        }
        .negative {
          text-align: center;
          color: #f20000;
          font-weight: bolder;
        }
      }
    }
  }
  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    padding: 1px 10px;
    .t_troops {
      display: flex;
      flex-direction: column;
      .t_content {
        padding-right: 0;
      }
    }
  }
}

.imgs {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  align-items: flex-end;
  img {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
  }
  .save {
    color: $txt;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
    background-color: $card-bg;
    padding: 4px;
  }
}
.gov {
  color: $txt;
  margin-left: 2rem;
  @media #{$mobile} {
    margin: 0;
    .field {
      padding: 1px 10px;
      display: flex;
      justify-content: space-between;
    }
  }
}
