@import "./mixins.scss";

.wrapper {
  padding: 0 1rem;
  @media #{$mobile} {
    text-align: center;
    input {
      width: 100%;
    }
  }
}

.buttons {
  background: $card-bg;
  padding: 0 2rem 1rem 2rem;
  .btns {
    @include flex(space-around, row);
    background: $btns-bg;
    border-radius: 4px;
    padding: 1rem;
    a {
      text-decoration: none;
      color: $txt;
    }
  }
}

.t_wrapper {
  width: 100%;
  padding: 0 1rem;
  .t_troops {
    width: 100%;
    @include flex(space-between, row);
    .t_content {
      width: 100%;
      display: flex;
    }
    @media #{$mobile} {
      display: flex;
      flex-direction: column;
      .t_troops {
        display: flex;
        flex-direction: column;
        .t_content {
          padding-right: 0;
        }
      }
    }
  }
}
.f_wrapper {
  @include flex(space-between, row);
  width: 100%;
  .positive {
    text-align: center;
    color: #186018;
    font-weight: bolder;
  }
  .negative {
    text-align: center;
    color: #f20000;
    font-weight: bolder;
  }
  .inputed {
    display: flex;
    justify-content: baseline;
  }
  .file {
    display: flex;
    margin: 0.5rem 0;
  }
  @media #{$mobile} {
    @include flex(center, column);
    input {
      width: 100%;
    }
  }
}

.headshot {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
}
.save {
  color: $txt;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
  background-color: $card-bg;
  padding: 4px;
}
.field {
  text-align: left;
}
