@import "./mixins.scss";

.form {
  @include flex(space-around, column);
  width: 100%;
  text-align: left;
  padding: 0 2rem;
  input[type="text"] {
    @include input();
    margin: 5px 0;
    text-align: left;
    overflow-y: auto;
    overflow-wrap: break-word;
  }
  textarea {
    @include input();
    text-align: left;
  }
}

.row {
  text-align: center;
}

.btns {
  margin: 1rem auto;
}
